.App {
  background-color: #000000;
  opacity: 1;
  background-image: radial-gradient(aliceblue 0.65px, transparent 1px), radial-gradient(#ffffff 0.65px, #000000 0.65px);
  background-size: 26px 26px;
  background-position: 0 0, 13px 13px;
  text-align: center;
}